<h1>Wellcome to the Kanji's World</h1>

<% if user_signed_in? %>
  
<% else %>
  <div class="center jumbotron">
    <%= link_to "Sign up now!", new_user_registration_path,class: "btn btn-lg btn-primary" %>
    <%= link_to "Sign in", new_user_session_path,class: "btn btn-lg btn-primary" %>
  </div>

<% end %>