<% provide :title, "Goals" %>
<% content_for :title_bar do %>
  <div class="navigation">
    <%= link_to 'New Goal', new_goal_path, {class: "button2 green"} %>
	</div>
<% end %>

<div class="title2">
	<h3>Your Goals</h3>
</div>
<div class="element no-top-radius" style="margin-bottom: 10px;">
    <table class="box2 zebra">
        <%= render @goals %>
        <% if @goals.count == 0 %>
            <tr>
                <td colspan="6">There are no goal</td>
            </tr>
        <% end %>
    </table>
</div>

<% if @friend_goals.count > 0 %>
<div class="title2">
	<h3>Friend Goals</h3>
</div>
<div class="element no-top-radius" style="margin-bottom: 10px;">
    <table class="box2 zebra">
        <%= render @friend_goals %>
    </table>
</div>
<% end %>
