<!DOCTYPE html>
<html>
<head>
  <%= render "layouts/includeheader" %>
</head>
<body>
  <div class="container2">
	  <div class="container-shadow">
      <%= render "layouts/header" %>
    </div>
  
    <%= yield %>
  </div>
</body>
</html>
